.Dashboard {
	height: 100vh;
	display: grid;
	grid-template-rows: 3rem 2rem auto;
	grid-template-columns: 2rem auto;
	grid-template-areas: 
	'DashboardHeader DashboardHeader'
	'. .'
	'. DashboardPanel';
}

.Dashboard > *:first-of-type{
	grid-area: DashboardHeader;
}

.Dashboard > *:last-of-type {
	grid-area: DashboardPanel;
}
