.Register {	
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas: 
	'. . . . logo logo logo logo . . . .'
	'. . . . register register register register . . . .'
	
}

.Register .logoHolder {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Register .logoHolder > img {
	width: 70%
}

.Register .registerHolder {
	background-color: white;
	margin-top: 2rem;
	border: 1px solid lightgray;
	padding: 0 1.5rem 1.5rem 1.5rem;
	grid-area: register;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Register .registerHolder > *, .Register .registerHolder > *:not(button):focus {
	/*white box*/
	background-color: white;

	width: 100%;
	margin: .5rem;
	height: 2rem;
	border: none;
	font-size: 1.2rem;
	outline: none;
}

.Register .registerHolder > input:first-of-type {
	margin-top: 15%;
}

.Register .registerHolder > h4 {
	margin-top: 2rem;
	font-size: 1.5rem;
	text-align: center;
} 

.Register .registerHolder > p {
	text-align: center;
}

.Register .registerHolder > p >span {
	cursor: pointer;
	color: #fd971f;
}

.Register .registerHolder > input {
	border-bottom: 1px solid #d6d6d6;
}

.Register .registerHolder > button {
	background-color: #3f90fc;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}


/*Login section*/
.Login {
	/*background-color: tomato;*/
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas: 
	'. . . . logo logo logo logo . . . .'
	'. . . . login login login login . . . .'
}

.Login .logoHolder {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Login .logoHolder > img {
	width: 70%
}

.Login .registerHolder {
	/*white box*/
	background-color: white;
	margin-top: 2rem;
	border: 1px solid lightgray;
	padding: 0 1.5rem 1.5rem 1.5rem
;
	grid-area: login;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Login .registerHolder > *, .Login .registerHolder > *:not(button):focus {
	width: 100%;
	margin: .5rem;
	height: 2rem;
	border: none;
	background-color: white;
	font-size: 1.2rem;
	outline: none;
}

.Login .registerHolder > input:first-of-type {
	margin-top: 15%;
}

.Login .registerHolder > h4 {
	margin-top: 2rem;
	font-size: 1.5rem;
	text-align: center;
} 

.Login .registerHolder > input {
	border-bottom: 1px solid #d6d6d6;
}

.Login .registerHolder > button {
	background-color: #3f90fc;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

.Login .registerHolder > p {
	text-align: center;
}

.Login .registerHolder > p >span {
	cursor: pointer;
	color: #fd971f;
}



